/* nanum-pen-script-regular - latin */
@font-face {
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nanum-pen-script-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nanum Pen'), local('NanumPen'),
       url('fonts/nanum-pen-script-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nanum-pen-script-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nanum-pen-script-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/nanum-pen-script-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nanum-pen-script-v15-latin-regular.svg#NanumPenScript') format('svg'); /* Legacy iOS */
  font-family: 'Raleway Script';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway'),
       url('fonts/Raleway-Light.ttf') format('truetype')  
  font-family: 'Montserrat Script';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), local('Montserrat'),
       url('fonts/Montserrat-Regular.ttf') format('truetype')        
}

.positiontitleRec {

  position: absolute;
  left: 5.1%;
  right: 50.85%;
  top: 3.64%;
  bottom: 65.33%;
  
  font-family: Montserrat Script;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 30px;
  
  color: #000000;
}

/* Hello! Je suis Andy, bienvenue sur mon site. Vous pouvez trouver mes projets sur github, mes questions et réponses sur Stackoverflow and mon blog.Et mon cv, en Anglais (ici) et en Français (Ici). */


.positionFrenchRec {

  position: absolute;
  left: 5.1%;
  right: 61.75%;
  top: 10.7%;
  bottom: 45.8%;
  
  font-family: Raleway Script;
  font-style: normal;
  font-weight: normal;
  font-size: px;
  line-height: 30px;
  
  color: #000000;
}

/* Hello! I’m Andy, welcome to my website. This space is to showcase my projects on github, my questions and answers on Stackoverflow and my blog.my cv, in English (here) and in French (here). */

.positionEnglishRec {
  position: absolute;
  left: 5.1%;
  right: 70.15%;
  top: 65.89%;
  bottom: 5.4%;

font-family: Raleway Script;
font-style: normal;
font-weight: normal;
font-size: px;
line-height: 30px;

color: #000000;
}


/* LOGO_JUSTGODEV_NOIR_RVB 2 */
.positionImgJust {
position: absolute;
left: 65%;
right: -10.64%;
top: 62%;
bottom: 6.17%;


background: url(LOGO_JUSTGODEV_NOIR_RVB.png);
}